var React = require('react');
var _ = require('lodash');
var Footer = require('../components/Footer')
var AppStore = require('../../stores/ApplicationStore');
var PropTypes = React.PropTypes;

var style = {
  display: 'none'
};

var BestDog = React.createClass({
  propTypes: {
    sizeOfDog: PropTypes.string.isRequired
  },
  getInitialState: function() {
    return {bestDog: ''};
  },
  componentDidMount() {
    AppStore.addChangeListener(this.updateState);
  },
  componentWillUnmount() {
    AppStore.removeChangeListener(this.updateState);
  },
  _getDog() {
    var dogs = ['pitbull', 'boxer', 'rotweiler'];
    var rand = Math.floor(Math.random() * (dogs.length - 1));
    this.setState({bestDog: dog[rand]});
  }
  render() {
    var style = _.extend(this.props.style, style);
    return (
      <div style={style}>
        <div>
          {this.state.bestDog}
          <button onClick={this._getDog()} />
        </div>
        <Footer />
      </div>
    );
  }
});

module.exports = BestDog;
