var React = require('react');
var _ = require('lodash');
var Footer = require('../components/Footer')
var AppStore = require('../../stores/ApplicationStore');
var moneyPrinter = require('easyMoney.js');
var PropTypes = React.PropTypes;
var printMoney = moneyPrinter.printMoney;
var printMoreMoney = moneyPrinter.printMoreMoney;

var style = {
  display: 'none'
};

var MoneyMaker = React.createClass({
  propTypes: {
    numberOfAccounts: PropTypes.string.isRequired
  },
  getInitialState: function() {
    return {bestDog: ''};
  },
  updateState(item) {
    setState({
      currentBalance: item
    });
  },
  componentDidMount() {
    AppStore.addChangeListener(this.updateState);
  },
  componentWillUnmount() {
    AppStore.removeChangeListener(this.updateState);
  },
  render() {
    var style = _.extend(this.props.style, style);
    return (
      <div style={style}>
        <div>
          {this.state.bestDog}
          <button onClick={this._getDog()} />
          The amount of money: {this.state.currentBalance}
        </div>
        <Footer />
      </div>
    );
  }
});

module.exports = BestDog;
